/*style pour le header*/



header {
    background: #5A1A29;
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-family: 'Georgia', serif; 
    font-size: 3em; 
    font-weight: bold; 
    color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

header h1 {
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    background-color: #5A1A29;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #8d3c4f;
}



/*style pour le contenu principale*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2e8e4;
    color: #5A1A29;
    margin: 0;
    padding: 0;
}



main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh; /* Adjust the height as per your need */
    padding-bottom: 100px;
}


.text-on-image {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #5A1A29; 
    font-size: 24px; 
    background-color: #fff; 
    padding: 10px 20px; 
    border: 2px solid #5A1A29; 
    border-radius: 10px; 
    
}

.contact-container {
    background-color: #5A1A29;
    padding: 40px;
    border-radius: 5px;
    max-width: 500px; 
    margin: auto;
    width: 100%;
}

.image-container img {
    max-width: 100%; 
    height: auto;
}


.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

label {
    color: #fff;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea,
button {
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px; 
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="number"] {
    background-color: #8d3c4f;
    color: #fff;
}

textarea {
    background-color: #8d3c4f;
    color: #fff;
    resize: vertical; 
}

button {
    background-color: #fff;
    color: #5A1A29;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5A1A29;
    color: #fff;
}



/*style pour le footer*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #FFD700; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline; 
}

footer {
    background-color: #5A1A29;
    color: #fff;
    padding: 20px;
    text-align: center;
}